.footer {
	background-color: #efefef;
}

#mobileOverlay{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 10000;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	color: white;
	font-size: 30px;
	display: none;
	transition: 0.5s all;
	padding: 10px;
	padding-top: 35%;
}

@media (max-width: 800px){
	#mobileOverlay{
		display: block;
	}
}